@import './color.scss';
@import './utills.scss';

body{
    background:$light-gray;
    width:100%;
    @include display_as_column_center;
    .ctime{
        @include display_as_row_center;
        width:100%;
        background:$apple-blue;
        color:white;
        padding:2rem;
        font-size: 30px;
        font-weight: 300;
        .square{
            @include display_as_row_center;
            .meridiem{
                font-size:25px;
                margin:10px;
            }
        }
    }
    .add__alarm{
        position: fixed;
        bottom:10px;
        width:50px;
        height: 50px;
        background:$apple-blue;
        @include display_as_row_center;
        border-radius: 50%;
        cursor:pointer;
        button{
            outline:none;
            border:none;
            background:transparent;
            color:white;
            font-size: 40px;
            cursor:pointer;

        }
    }
    .add__alarm__form{
        @include display_as_column_center;
        position: absolute;
        z-index: 103;
        top:42%;
        display:none;
        .form{
            @include display_as_column_center;
            h1{
                color:$white;
            }
            .time__setter{
                // @include display_as_row;
                margin:1rem;
                display: flex;
                flex-direction: row;
               .input__field{
                   input{
                       background:transparent;
                       outline:none;
                       border:none;
                       font-size: 15px;
                       border-bottom: 2px solid $white;
                       color:$white;
                   }
               } 
               .select__field{
                   select{
                    background-color: transparent;
                    color:white;
                    border:none;
                    outline:none;
                   }
                   option{
                       color:black;
                   }
               }
            }
            .confirm{
                button{
                    padding:0.5rem 1rem;
                    border:none;
                    outline:none;
                    margin:1rem;
                    cursor: pointer;
                }
                
            }
        }
    }
    .alarm_started{
        background:$apple-blue;
        @include display_as_column_center;
        width:200px;
        height: 200px;
        position: absolute;
        z-index: 101;
        top:40%;
        border:5px solid $white;
        border-radius: 50%;
        color:white;
        font-size: 20px;
        display:none;

        button{
            border:0;
            outline:0;
            padding:0.5rem 1rem;
            margin:5px;
            cursor: pointer;
        }
    }
    .overlay{
        display:none;
        position: absolute;
        top:0;
        width: 100%;
        height: 100vh;
        background:$apple-blue;
        z-index: 100;
    }
    audio{
        display:none;
    }
    .alarms{
        background:$white;
        width: 100%;
        @include display_as_column_center;
        .alarm__item{
            border-bottom:3px solid $light-black;
            width: 100%;
            font-size: 40px;
            font-weight: 300;
            padding:1rem 2rem;
            @include display_as_row_center;
            .timer{
                @include display_as_row_center;
                .square{
                    @include display_as_row_center;
                    #meridiem{
                        font-size: 20px;
                        font-weight: 500;
                        margin:5px;
                    }
                }

            }
            .delete__alarm{
                @include display_as_row_center;
                font-size: 15px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                cursor: pointer;
                margin-left:1rem;
                color:$white;
                background:$apple-blue;

            }
        }
    }
}