$light-gray : rgb(242, 242, 247);
$apple-blue : rgb(10,132,255);
$dark-apple-blue : rgb(0, 77, 153);
$white: white;
$light-black: rgb(95, 95, 95);
$black : rgb(58, 58, 60);
$gray : gray;
$red : rgba(255, 21, 21, 0.952);
$neomorph : rgb(240, 240, 240);
$neomorph_shadow : rgb(214, 214, 214);
$neomorph_light: rgb(255, 255, 255);