.header{
    width: 100%;
    background:$black;
    color:$white;
    @include display_as_row_space_between;
    padding:0.3rem 1rem;
    flex-wrap: wrap;
    .logo{
        font-size: 30px;
        padding: 1rem;
    }
    .navbar{
        a{
            text-decoration: none;
            color:$white;
            padding: 0.3rem 1rem;
            border-radius: 3px;
            transition: 0.3s;
            border: 1px solid transparent;
            margin:2px;
            &:hover{
                background:rgb(44, 44, 44);
                border: 1px solid rgb(82, 82, 82);
            }
        }
    }
    #show_dropdown_menu, #hide_dropdown_menu{
        outline:0;
        border:0;
        padding:5px 10px !important;
        border-radius:5px !important;
        cursor: pointer !important;
        // color:$white;
        // background:black;
        display:none;
        background:$white !important;
        color:black !important;
        box-shadow: none!important;
    }
}


@media only screen and (max-width: 830px) {
    .header {
        @include display_as_column;
        .logo{
            text-align: left;
        }
      .navbar{
          @include display_as_column_center;
          background: $black;
          bottom: 0;
          display:none;
      }
      #show_dropdown_menu, #hide_dropdown_menu{
          position: absolute !important;
          right:20px !important;
          top:25px !important;
      }
      #show_dropdown_menu{
          display:block;
      }
    }
  }