@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}

.notifications {
  position: absolute;
  top: 20px;
  right: 20px;
}
.notifications .notification {
  width: 200px;
  height: 80px;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  background: red;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.notifications .notification button {
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 5px;
  background-color: white !important;
  color: black !important;
}

.processing_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a84ff;
  color: #3a3a3c;
  opacity: 0.9;
}
.processing_screen .processing_circle {
  border-top: 6px solid black;
  border-bottom: 6px solid white;
  border-left: 6px solid white;
  border-right: 6px solid white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: animate 0.6s infinite ease-in-out;
  box-shadow: 1px 1px 1px 1px #3a3a3c;
}
.processing_screen .processing_text {
  margin: 15px;
  color: white;
  font-weight: bold;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  width: 100%;
  background: #3a3a3c;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1rem;
  flex-wrap: wrap;
}
.header .logo {
  font-size: 30px;
  padding: 1rem;
}
.header .navbar a {
  text-decoration: none;
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 3px;
  transition: 0.3s;
  border: 1px solid transparent;
  margin: 2px;
}
.header .navbar a:hover {
  background: #2c2c2c;
  border: 1px solid #525252;
}
.header #show_dropdown_menu, .header #hide_dropdown_menu {
  outline: 0;
  border: 0;
  padding: 2px 5px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  display: none;
  background: white !important;
  color: black !important;
  box-shadow: none !important;
  font-size: 18px;
}

@media only screen and (max-width: 830px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .header .logo {
    text-align: left;
  }
  .header .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #3a3a3c;
    bottom: 0;
    display: none;
  }
  .header #show_dropdown_menu, .header #hide_dropdown_menu {
    position: absolute !important;
    right: 20px !important;
    top: 25px !important;
  }
  .header #show_dropdown_menu {
    display: block;
  }
}
@media only screen and (max-width: 350px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .header .logo {
    font-size: 25px;
  }
  .header .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #3a3a3c;
    bottom: 0;
    display: none;
  }
  .header #show_dropdown_menu, .header #hide_dropdown_menu {
    position: absolute !important;
    right: 20px !important;
    top: 25px !important;
  }
  .header #show_dropdown_menu {
    display: block;
  }
}
body {
  background: #f2f2f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #delete_routine {
  background-color: red;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #3a3a3c;
  font-size: 10px;
}
body .routine_header {
  margin-top: 20px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #0a84ff;
  border-right: 2px solid #0a84ff;
}
body .routine_header .time_section {
  width: 400px;
  text-align: center;
  border-right: 2px solid #0a84ff;
  border-left: 2px solid #0a84ff;
}
body .routine_header .time_section .time {
  padding: 0.6rem;
  background: #0a84ff;
  color: white;
}
body .routine_header .time_section .to_from {
  display: flex;
  flex-direction: row;
}
body .routine_header .time_section .to_from .from, body .routine_header .time_section .to_from .to {
  width: 200px;
  padding: 0.5rem;
}
body .routine_header .work_section {
  text-align: center;
  width: 300px;
}
body .routine {
  background: white;
  border: 2px solid #0a84ff;
}
body .routine .routine_item {
  text-align: center;
  display: flex;
  flex-direction: row;
}
body .routine .routine_item section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .routine .routine_item .from_time, body .routine .routine_item .to_time {
  width: 199px;
  border-right: 2px solid #0a84ff;
}
body .routine .routine_item p {
  padding: 0.5rem;
  font-weight: 300;
}
body .routine .routine_item .work_name {
  width: 300px;
}
body .add_routine {
  width: 700px;
  display: flex;
  flex-direction: row;
}
body .add_routine .from_time_input, body .add_routine .to_time_input {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #0a84ff;
  border-right: 2px solid #0a84ff;
  padding: 10px 0px;
}
body .add_routine .from_time_input {
  border-left: 2px solid #0a84ff;
  padding: 10px 0px;
}
body .add_routine .work_name_input {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #0a84ff;
  border-right: 2px solid #0a84ff;
}
body .add_routine .work_name_input button {
  outline: 0;
  border: 2px solid transparent;
  background: #3a3a3c;
  color: white;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}
body .add_routine .work_name_input button:hover {
  border: 2px solid black;
  color: #f2f2f7;
}
body .add_routine input, body .add_routine select {
  font-weight: bold;
  width: 50px;
  height: 30px;
  outline: 0;
  border: 0;
  border-left: 3px solid #3a3a3c;
  color: #3a3a3c;
}
body .add_routine input {
  padding: 5px;
}
body .add_routine select {
  width: 70px;
}
body .add_routine p {
  margin: 2px;
}
body .add_routine ::placeholder {
  font-weight: lighter;
  font-size: 10px;
}
body .add_routine #workNameInput {
  width: 200px;
}

@media only screen and (max-width: 750px) {
  body {
    font-size: 13px;
    padding: 1px;
  }
  body .routine_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #0a84ff;
    border-bottom: none;
  }
  body .routine_header .time_section {
    border: none;
  }
  body .routine_header .work_section {
    border-top: 2px solid #0a84ff;
    width: 100%;
    padding: 5px;
  }
  body .routine {
    border-top: 0;
  }
  body .routine .routine_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
  }
  body .routine .routine_item .from_time, body .routine .routine_item .to_time {
    border: none;
    border-bottom: 2px solid #0a84ff;
    border-top: 2px solid #0a84ff;
    font-weight: bold;
  }
  body .routine .routine_item .to_time {
    border-left: 2px solid #0a84ff;
  }
  body .add_routine {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .add_routine .from_time_input, body .add_routine .to_time_input {
    width: 200px;
    border: none;
  }
  body .add_routine .work_name_input {
    border: 0;
  }
}
@media only screen and (max-width: 500) {
  body {
    font-size: 10px;
  }
}

/*# sourceMappingURL=routine.css.map */
