@import './color.scss';

@import './utills.scss';
body{
    background: $light-gray;
    .home_header{
        background: $black;
        color:$white;
        padding: 20px;
        @include display_as_row_space_between;
        flex-wrap: wrap;
        .logo{
            font-size: 35px;
        }
        .about{
            font-weight: 100;
        }
        a{
            background: $white;
            color:$black;
            text-decoration: none;
            padding:5px 10px;
            border-radius: 5px;
            font-size: 13px;
        }
        section{
            margin:5px;
        }
        #login, #newuser{
            background :$apple-blue;
            outline:None;
            border:None;
            padding:5px 10px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    .app{
        width: 100%;
        min-height: 100vh;
        background: $light-gray;
        
        .services{
            @include display_center;
            flex-wrap: wrap;
            margin-top: 10px;
            .service{
                @include display_center;
                flex-direction: column;
                background: $white;
                padding:1rem;
                width:40vw;
                margin:2px;
                height:200px;
                img{
                    width: 50px;
                    height: 50px;
                    // filter: grayscale(2);
                }
                a{
                    font-weight: 100;
                    background:$apple-blue;
                    color:$white;
                    padding:0.3rem 1rem;
                    cursor: pointer;
                    margin:0.5rem;
                    text-decoration: none;
                    border-radius: 5px;
                }
               
                
            }
        }
    }

    #login-form,
    #new-user-form{
        width: 400px;
        height: 250px;
        background:$white;
        position:absolute;
        top:calc(50vh - 125px);
        left:calc(50vw - 200px);
        box-shadow: 5px 5px 10px  $gray;
        border-radius: 10px;
        #closeForm{
            position: absolute;
            right:10px;
            top:10px;
            padding:5px;
            border-radius: 10px;
            outline:none;
            border:none;
            cursor: pointer;
            
        }
        p{
            text-align: center;
            font-size: 12px;
            color:red;
            display:none;
        }
        @include display_as_column_center;
        section{
            @include display_as_column;
            margin:5px;
            input{
                background:$light-gray;
                border:0;
                outline:0;
                border-bottom: 1px solid $black;
                width:250px;
                height:30px;
                padding:  5px;
            }
            label{
                font-size: 15px;
                margin:2px;

            }
        }
        #submit-button{
            background :$apple-blue;
            outline:None;
            border:None;
            padding:5px 10px;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
        }
    }
}