@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "./color.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a3a3c;
  border-radius: 10px;
}

.notifications {
  position: absolute;
  top: 20px;
  right: 20px;
}
.notifications .notification {
  width: 200px;
  height: 80px;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  background: rgba(255, 21, 21, 0.952);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.notifications .notification button {
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 5px;
  background-color: white !important;
  color: black !important;
}

.processing_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a84ff;
  color: #3a3a3c;
  opacity: 0.9;
}
.processing_screen .processing_circle {
  border-top: 6px solid black;
  border-bottom: 6px solid white;
  border-left: 6px solid white;
  border-right: 6px solid white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: animate 0.6s infinite ease-in-out;
  box-shadow: 1px 1px 1px 1px #3a3a3c;
}
.processing_screen .processing_text {
  margin: 15px;
  color: white;
  font-weight: bold;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  width: 100%;
  background: #3a3a3c;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1rem;
  flex-wrap: wrap;
}
.header .logo {
  font-size: 30px;
  padding: 1rem;
}
.header .navbar a {
  text-decoration: none;
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 3px;
  transition: 0.3s;
  border: 1px solid transparent;
  margin: 2px;
}
.header .navbar a:hover {
  background: #2c2c2c;
  border: 1px solid #525252;
}
.header #show_dropdown_menu, .header #hide_dropdown_menu {
  outline: 0;
  border: 0;
  padding: 5px 10px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  display: none !important;
}

@media only screen and (max-width: 830px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .header .logo {
    text-align: left;
  }
  .header .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #3a3a3c;
    bottom: 0;
    display: None;
  }
  .header #show_dropdown_menu, .header #hide_dropdown_menu {
    display: block !important;
    position: absolute !important;
    right: 20px !important;
    top: 25px !important;
  }
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #f2f2f7;
}
body .todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 500px;
  overflow-y: scroll;
  font-weight: 300;
  padding: 10px;
  margin-top: 10px;
}
body .todos .todo_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  padding: 5px 0px;
  font-size: 15px;
}
body .todos .todo_item p {
  padding-left: 5px;
}
body .todos .todo_item input {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
body .add_todo input {
  width: 240px;
  height: 30px;
  outline-color: #0a84ff;
  margin-top: 10px;
}
body .add_todo button {
  height: 30px;
  cursor: pointer;
  background: #0a84ff;
  outline: 0;
  border: 0;
  color: white;
  padding: 0px 5px;
  border-radius: 5px;
}

/*# sourceMappingURL=todo.css.map */
